<div class="container-fluid splash">
    <div class="row">
       <!-- <%= image_tag("http://placehold.it/1950x600", :class => 'img-responsive') %>-->
    </div>
</div>
<div class="container">
    <div class="pager"></div>
    <% @posts.each_slice(3) do |row| %>
    <div class="row">
        <% row.each do |post| %>
                <div class="col-md-4 card clearfix">
                    <p class="date pull-right"><%= post.created_at.strftime("%B, %d, %Y") %></p>
                    <div class="hover">
                        <%= link_to image_tag(post.image.url(:thumbnail), :class => 'img-responsive'), post %>
                    </div>
                    <div class="info-card col-xs-10 col-xs-offset-1">
                        <h3> <%= link_to post.title, post %> </h3>
                        <p class="body"><%=strip_tags Markdown.new( post.body.truncate(300, separator: /\s/)).to_html %></p>
                        <div class="pull-right">
                        <%= link_to 'More', post, :class => 'button' %>
                        </div>
                    </div>
                </div>
        <% end %>
        </div>
    <% end %>
</div>
